
@font-face {
    font-family: "Courier";
    src: url("src/fonts/Courier-Bold.ttf");
    font-weight: bold;
}

@font-face {
    font-family: "Gotham";
    src: url("src/fonts/Courier.ttf");
    font-weight: 300;
}
