.archive
  
  &__body
    display: flex
    justify-content: space-around
    flex-wrap: wrap

  &__bg
    height: 300px
    position: relative
    top: 70px
    background-position: center
    background-size: cover