.categories
  display: flex
  justify-content: space-around
  flex-wrap: wrap


.categories-container
  margin-bottom: $separator
  margin-top: $separator
  
  &__actions
    text-align: center
    margin-top: 50px


.category


