.miniatures 
  display: flex
  justify-content: space-around
  flex-wrap: wrap

.miniature
  width: 350px
  height: 350px
  background-color: #EEE
  overflow: hidden
  position: relative
  margin-bottom: 30px
  
  background:
    size: cover
    position: center
 
  &--small
    width: 290px
    height: 290px

  &-content
    position: absolute
    height: 40%
    width: 100%
    text-align: center
    background-color: $color-primary-light
    display: flex
    flex-direction: column
    justify-content: center
    transition: .4s
    bottom: -25%

  &-title
    margin-bottom: 40px
    color: white
    font-size: $font-medium

  &:hover
    .miniature
      &-content
        height: 100%
        bottom: 0